/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-color: rgb(255, 255, 255);
  color: #000000;
  padding: 10px 0;
  text-align: center;
}

header h1 {
  font-size: 2em;
  margin: 0;
}

header nav {
  display: inline-block;
}

header nav ul {
  list-style-type: none;
  padding: 0;
}

header nav ul li {
  display: inline-block;
  margin-left: 20px;
}

header nav ul li a {
  color: #000000;
  text-decoration: none;
}

.hero {
  background-image: url('theme.png');
  background-size: cover;
  background-position: center;
  color: #000000;
  text-align: center;
  padding: 180px 0;
}

.hero h2 {
  font-size: 3em;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.features {
  padding: 50px 0;
  text-align: center;
}

.feature {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  margin: 0 2%;
  text-align: left;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.feature i {
  font-size: 2em;
  color: #333;
  margin-bottom: 10px;
}

.feature h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.feature p {
  font-size: 1em;
}

.cta {
  background-color: #32a3fa;
  color: #fff;
  text-align: center;
  padding: 35px 0;
}

.cta h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.cta p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffa200;
  color: #000000;
  text-decoration: none;
  border-radius: 3px;
  font-size: 1.1em;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: rgb(255, 221, 0);
}

footer {
  background-color: hsl(33, 100%, 61%);
  color: #040404;
  text-align: center;
  padding: 3px 0;
}
